.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-helper-clearfix:after,
.ui-helper-clearfix:before {
  content: "";
  display: table;
  border-collapse: collapse;
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}
.ui-front {
  z-index: 100;
}
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}
.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block;
}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-datepicker {
  width: 17em;
  padding: 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0;
  margin: 0 -24px;
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover {
  top: 0;
  background-color: transparent;
}
.ui-datepicker .ui-datepicker-prev {
  left: 0;
}
.ui-datepicker .ui-datepicker-next {
  right: 0;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 0;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 0;
}
.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  top: 50%;
  margin-top: -11px;
  transform: rotate(90deg);
}
.ui-datepicker .ui-datepicker-next span {
  transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-title {
  line-height: 50px;
  text-align: center;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker table {
  width: 100%;
  font-size: 16px;
  border-collapse: collapse;
  margin: 0;
  table-layout: fixed;
}
.ui-datepicker th {
  padding: 12px 0;
  text-align: center;
  font-weight: 700;
  border: 0;
  font-size: 12px;
  color: #9e9e9e;
  text-transform: uppercase;
}
.ui-datepicker td {
  border: 0;
  padding: 0;
  width: 42px;
  height: 38px;
  vertical-align: middle;
}
.ui-datepicker td a,
.ui-datepicker td span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  margin: 0;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
  padding: 0 24px 18px 24px;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
.ui-datepicker .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
}
.ui-widget .ui-widget {
  font-size: 16px;
}
.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
  font-size: 16px;
}
.ui-widget-content {
  background: #fff;
  color: #333;
}
.ui-widget-content a {
  color: #333;
}
.ui-widget-header {
  background-color: #f1f3f4;
  color: #000;
  font-size: 20px;
  line-height: 50px;
  min-height: 50px;
}
.ui-widget-header a {
  color: #333;
}
.ui-button,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
html .ui-button.ui-state-disabled:active,
html .ui-button.ui-state-disabled:hover {
  border: 2px solid transparent;
  background: #fff;
  font-weight: 400;
  color: #333;
}
.ui-button,
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button {
  color: #454545;
  text-decoration: none;
}
.ui-button:focus,
.ui-button:hover,
.ui-state-focus,
.ui-state-pickup-dates .ui-state-default,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 2px solid #ecf8ff;
  background: #ecf8ff;
  font-weight: 400;
  color: #333;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover {
  border: 2px solid #00a1ff;
  color: #00a1ff;
}
.ui-widget-header .ui-state-hover {
  background: 0 0;
  border: none;
}
.ui-widget-header .ui-state-hover:hover .ui-icon {
  background-position: 0 -22px;
}
.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-state-active,
.ui-state-pickup-date .ui-state-default,
.ui-state-pickup-date .ui-state-default.ui-state-highlight,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active {
  border: 2px solid #00a1ff;
  background: #ecf8ff;
  font-weight: 400;
  color: #00a1ff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #fff;
  text-decoration: none;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 2px solid #fef6d6;
  background: #fef6d6;
  color: #333;
}
.ui-state-highlight:hover,
.ui-widget-content .ui-state-highlight:hover,
.ui-widget-header .ui-state-highlight:hover {
  border: 2px solid #00a1ff;
  background: #fef6d6;
  color: #00a1ff;
}
.ui-state-highlight.ui-state-active,
.ui-widget-content .ui-state-highlight.ui-state-active,
.ui-widget-header .ui-state-highlight.ui-state-active {
  border: 2px solid #00a1ff;
  background: #ecf8ff;
  color: #00a1ff;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
}
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
}
.ui-icon {
  width: 22px;
  height: 22px;
}
.ui-widget-header .ui-icon {
  background: transparent url(/assets/desktop/img/svg/arrows5.svg) no-repeat 0 0;
  background-size: 22px 176px;
}
.ui-datepicker.ui-datepicker-multi {
  width: 720px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.ui-datepicker.ui-datepicker-multi.ui-below {
  margin-top: 1px;
  border-radius: 0 0 3px 3px;
}
.ui-datepicker.ui-datepicker-multi.ui-below:after {
  top: -2px;
}
.ui-datepicker.ui-datepicker-multi.ui-above {
  margin-top: -1px;
  border-radius: 3px 3px 0 0;
}
.ui-datepicker.ui-datepicker-multi.ui-above:after {
  bottom: -2px;
}
@media (min-width: 321px) and (max-width: 768px) {
  .ui-datepicker.ui-datepicker-multi {
    width: 650px !important;
  }
}
.ui-datepicker-group-first {
  position: relative;
}
.ui-datepicker-group-first:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #f1f3f4;
  content: "";
  display: block;
}
.ui-datepicker-group-first .ui-datepicker-year {
  display: none;
}
.ui-datepicker-multi .ui-datepicker-group table {
  margin: 0 0 5px 0;
}
.ui-widget-header {
  background-color: transparent;
}
.ui-widget-header .ui-icon {
  background: transparent url(/assets/mobile/img/svg/arrows-v2.svg) no-repeat 0
    0;
  background-size: 22px 132px;
}
.ui-datepicker.ui-datepicker-multi {
  width: 100% !important;
  box-shadow: none;
}
.ui-datepicker-calendar thead {
  display: none;
}
.ui-datepicker-group:after {
  content: "";
  display: block;
  margin: 0 -5px;
  width: 110%;
  border-bottom: solid 1px #d8d8d8;
}
.datepickerInModal .ui-datepicker-prev {
  top: -50px;
  width: 100%;
}
.datepickerInModal .ui-datepicker-prev span {
  transform: rotate(-180deg);
}
.datepickerInModal .ui-datepicker-next {
  right: -9999px;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate3d(0, 100vh, 0);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
  flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}
.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.authentication-wrapper .modal-header {
  position: absolute;
  top: -80px;
  left: 0;
  margin: 0 -16px;
  padding: 0;
  width: 100%;
  border: none;
}
.date-field.in-modal {
  border: solid 1px #d8d8d8;
  border-radius: 3px;
}
.error-message.in-modal p {
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 14px;
}
.full-size-player-modal {
  background: #000;
  height: 100vh;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
}
.full-size-player-modal svg {
  position: absolute;
  top: 16px;
  right: 16px;
}
.full-size-player-modal #embed-ad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal {
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 0 100px #fff;
}
.modal.datepicker {
  z-index: 1060;
}
.modal-body.modal-body-new {
  padding: 16px;
}
.modal-dialog {
  margin: 0;
  height: 100%;
  max-width: 100%;
}
.modal-dialog.modal-header-no-border .modal-header {
  border-bottom: none;
}
.modal-dialog.modal-fixed-body .modal-body {
  height: calc(100vh - 61px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-dialog.modal-fixed-body .modal-body.modal-body-new {
  height: calc(100vh - 73px);
}
.modal-dialog.modal-fixed-body.modal-header-no-border .modal-body {
  height: calc(100vh - 60px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.modal-dialog.modal-fixed-body.modal-header-no-border
  .modal-body.modal-body-new {
  height: calc(100vh - 72px);
}
.modal-dialog.modal-static .modal-header {
  display: none;
}
.modal-dialog.modal-static .modal-body {
  padding-top: 60px;
}
.modal-dialog.modal-static .modal-body.modal-body-new {
  padding-top: 72px;
}
.modal-dialog.modal-from-bottom .modal-content {
  background-color: transparent;
}
.modal-dialog.modal-from-bottom .modal-body {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;
}
.modal-dialog.height-auto {
  position: fixed;
  bottom: 0;
  height: auto;
}
.modal-open {
  position: inherit;
  height: 100%;
}
.modal-content {
  border-radius: 0;
  border: none;
  height: 100%;
}
.modal-footer-full-coverage {
  height: 64px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.14);
  padding: 12px;
  display: flex;
}
.modal-footer-full-coverage .modal-footer-text {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #333;
  margin-top: 8px;
  width: 100%;
}
.modal-footer-full-coverage .modal-footer-btn {
  margin-left: 20px;
  width: 98px;
  text-transform: capitalize;
}
.latest-reviews-row {
  margin-top: 12px;
}
.latest-reviews-row:last-of-type .iac-info {
  border-bottom: none;
}
.modal-hr {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal-block-container-blue {
  background: #ecf8ff;
  padding: 24px 16px;
}
.modal-block-container-blue .modal-block-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #333;
}
.modal-block-container-blue .black {
  color: #333;
}
.modal-block-container-blue .modal-image-block {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.modal-block-container-blue .modal-image-block .icon-block {
  background: #d9f1ff;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  margin-right: 20px;
}
.modal-block-container-blue .modal-image-block .icon-block svg {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-block-container-blue .modal-image-block .block-text {
  font-size: 14px;
  line-height: 20px;
  color: #757575;
  width: calc(100% - 80px);
}
.modal-block-container {
  padding: 32px 16px;
}
.modal-block-container .terms-link {
  font-size: 14px;
  line-height: 20px;
  color: #00a1ff;
}
.modal-block-container .modal-block-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333;
  margin-bottom: 20px;
}
.modal-block-container .modal-statistic-block {
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  text-align: center;
}
.modal-block-container .modal-statistic-block .modal-statistic-title {
  font-size: 36px;
  line-height: 48px;
  color: #00a1ff;
}
.modal-block-container .modal-statistic-block .modal-statistic-text {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
.modal-header {
  position: relative;
  padding: 16px 48px 16px 16px;
  display: block;
  border-bottom: solid 1px #d8d8d8;
}
.modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 60px;
  width: 60px;
  display: block;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: 0;
}
.modal-header .close span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 14px;
  height: 14px;
  background: url("../vectors/common/close-new-icon.svg") no-repeat 0 0;
}
.modal-header .close.v2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(/assets/mobile/img/svg/close-new.svg) no-repeat 0 -14px;
  background-size: 14px 28px;
}
.modal-header.only-logo {
  padding: 13px 7px;
  font-size: 0;
  text-align: center;
}
.modal-header.sp-250 {
  padding: 14px 48px 14px 16px;
  border-bottom: solid 1px #d8d8d8;
  line-height: 28px;
  text-align: left;
}
.modal-header.sp-250 .modal-header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
}
.modal-header.sp-250 .clear-all-filter {
  margin-left: 24px;
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  color: #00a1ff;
}
.modal-header.sp-250 .label {
  position: relative;
  top: -1px;
}
.modal-header.modal-header-new {
  display: flex;
  min-height: 72px;
  align-items: center;
}
.modal-header.modal-header-new .close,
.modal-header.modal-header-new .prev-step {
  height: 72px;
  width: 72px;
}
.modal-header.modal-header-new .close span,
.modal-header.modal-header-new .prev-step span {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  transition: all 0.2s;
  background: #f1f5f9;
}
.modal-header.modal-header-new .close span:before,
.modal-header.modal-header-new .prev-step span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  background: url(/assets/desktop/img/svg/close.svg?v=3) no-repeat 0 -144px;
  background-size: 24px 192px;
}
.modal-header.modal-header-new .close span:focus,
.modal-header.modal-header-new .close span:hover,
.modal-header.modal-header-new .prev-step span:focus,
.modal-header.modal-header-new .prev-step span:hover {
  background-color: #e2e8f0;
}
.modal-header.modal-header-new .close span:active,
.modal-header.modal-header-new .prev-step span:active {
  background-color: #d1d5db;
}
.modal-header.modal-header-new .prev-step {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: 0;
}
.modal-header.modal-header-new .prev-step span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-header.modal-header-new .prev-step span:before {
  margin: -12px 0 0 -12px;
  background: url(/assets/common/img/svg/icons/arrow-back.svg) no-repeat 0 0;
  background-size: 24px 24px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.modal-body {
  padding: 16px;
}
.modal-body.no-padding {
  padding: 0;
}
.modal-body.search-filter-body {
  background: #f1f3f4;
}
.modal-container {
  padding: 0 20px;
}
.modal-weekdays {
  padding: 0 5px;
  margin-bottom: 4px;
  display: table;
  table-layout: fixed;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.modal-weekdays .modal-weekdays-row {
  display: table-row;
}
.modal-weekdays .modal-weekdays-col {
  padding: 2px 0 12px;
  display: table-cell;
  width: 14.285%;
  font-weight: 700;
  font-size: 12px;
  color: #9e9e9e;
  text-align: center;
}
.datepickerInModal {
  padding: 0 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 183px);
  -webkit-overflow-scrolling: touch;
}
.modal-dp-nav {
  height: 50px;
}
.modal-dp-nav button {
  position: relative;
  width: 100%;
  height: 50px;
  display: block;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: 0;
}
.modal-dp-nav button:active,
.modal-dp-nav button:hover {
  outline: 0;
}
.modal-dp-nav button::before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -11px 0 0 -11px;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: transparent url("../vectors/common/arrow-dropdown.svg") no-repeat
    0 0;
  background-size: 24px;
}
.modal-dp-nav.prev button::after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -11px 0 0 -11px;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: transparent url("../vectors/common/arrow-dropdown.svg") no-repeat
    0 0;
  background-size: 24px;
  transform: rotate(180deg);
}
.modal-dp-nav.prev {
  border-bottom: solid 1px #f1f3f4;
}
.modal-dp-nav.prev.disabled button {
  opacity: 0.35;
}
.modal-dp-nav.prev button:before {
  display: none;
}
.modal-select-list {
  margin: 0;
  padding: 0;
}
.modal-select-list li {
  position: relative;
  display: block;
  padding: 14px 40px 14px 20px;
  color: #0a578c;
  font-size: 16px;
  line-height: 20px;
  border-top: solid 1px #f1f3f4;
}
.modal-select-list li.selected:after {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 15px;
  width: 14px;
  height: 14px;
  content: "";
  display: block;
  background: transparent url("../vectors/common/check.svg") no-repeat 0 0;
  background-size: 14px;
}
.modal-select-list li:first-of-type {
  border-top: none;
}
.modal-body-loading {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  width: 100%;
  text-align: center;
}
#modal-loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
#modal-loading:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.5;
  background-color: #000;
}
#modal-loading.show {
  display: block;
}
.modal-body-data .static {
  padding: 20px;
}
.modal-body-data .static h2 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #0a578c;
}
.modal-body-data .static h2 strong {
  font-weight: 400;
}
.modal-body-data .static p {
  font-size: 13px;
  line-height: 18px;
}
.modal-body-data .static a {
  color: #00a1ff;
}
.modal-body-data .privacy-policy p {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
}
.modal-wrapper {
  padding: 20px 0;
}
.modal-wrapper p {
  font-size: 16px;
  line-height: 22px;
}
.modal-body-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.modal-text-wrapper {
  padding: 16px;
  text-align: center;
}
.modal-text-wrapper .modal-img-placeholder {
  margin-bottom: 20px;
}
.modal-text-wrapper h3 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.modal-text-wrapper p {
  margin-bottom: 0;
}
.modal-action-block {
  margin: 20px auto 30px;
}
.review-modal-close {
  margin-bottom: 30px;
}
.pick-modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 300;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.pick-modal-dialog {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
  vertical-align: middle;
  transition: transform 0.3s ease-out;
  transform: translate(0, -300%);
}
.pick-modal-content {
  position: relative;
  background-color: #fad130;
  height: 100%;
  outline: 0;
}
.pick-modal-body {
  padding: 0;
}
.pick-modal-body .home-h1 {
  display: none;
}
.pick-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.pick-modal-close:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  background: url(/assets/mobile/img/svg/close.svg) no-repeat 0 0;
  background-size: 18px 108px;
}
.pick-modal-open {
  overflow: hidden;
}
.pick-modal-open .pick-modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.pick-modal-open .pick-modal-dialog {
  transform: translate(0, 0);
}
.pick-modal-title {
  padding: 16px 60px 0 16px;
  font-size: 20px;
  line-height: 28px;
}
.modal-dialog.modal-from-bottom .modal-content {
  background-color: transparent;
}
.modal-dialog.modal-from-bottom .modal-body {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 0;
}
.modal-informative-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 32px);
  text-align: center;
}
.modal-informative-box .modal-img-ph {
  margin: 0 auto 20px;
}
.modal-informative-box h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.modal-informative-box p {
  margin: 8px 0;
  font-size: 14px;
  line-height: 20px;
}
.modal-header.ab-258 {
  padding: 16px 48px 16px 16px;
  font-weight: 700;
  line-height: 28px;
  border-bottom: solid 1px #f1f3f4;
}
.modal-header.ab-258 .modal-title {
  font-weight: 700;
  line-height: 28px;
  color: #333;
}
.pick-modal:-webkit-full-screen {
  z-index: 99999;
}
.pick-modal:-ms-fullscreen {
  z-index: 99999;
}
.pick-modal:fullscreen {
  z-index: 99999;
}

.sb-group.sp-254 {
  margin-bottom: 8px;
}

.sb-group {
  width: 100%;
  margin-bottom: 16px;
}
.sb-group.dates {
  margin-top: 7px;
  width: 50%;
  float: left;
  text-align: left;
}
.sb-group.dates.left {
  padding-right: 5px;
}
.sb-group.dates.right {
  padding-left: 5px;
}
.sb-group.dates .sb-title {
  display: block;
}
.sb-group.dates.dates-label {
  margin-bottom: 0;
}
.sb-group.dates.dates-form-input {
  margin-top: 0;
}
.sb-group.drop-off {
  margin-top: 7px;
}
.sb-group.hidden {
  display: none;
}
.sb-group.sp-254 {
  margin-bottom: 8px;
}
.tcl-section .sb-group:first-child,
.tcl-section .sb-group:nth-child(2) {
  display: none;
}

.sb-datetime {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}
.sb-datetime.sp-254 .fake-field {
  float: left;
  width: calc(100% - 120px);
}
.sb-datetime.sp-254 .time-select {
  float: left;
  width: 120px;
}
.sb-datetime-with-border {
  border: solid 1px #d8d8d8;
  border-radius: 4px;
}

.sb-datetime.sp-254 .fake-field {
  float: left;
  width: calc(100% - 120px);
}

#drop-date-ui,
#pick-date-ui {
  -webkit-tap-highlight-color: transparent;
}

.date-field.sp-254 {
  padding: 8px 12px;
  height: 40px;
  line-height: 22px;
  border-radius: 3px 0 0 3px;
}

.date-field {
  padding: 10px;
  height: 44px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px 3px 0 0;
  font-size: 16px;
  line-height: 20px;
  background: #fff;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.date-field.in-modal {
  border: solid 1px #d8d8d8;
  border-radius: 3px;
}
.date-field.active {
  color: #fff;
  outline: 0;
  background: #00a1ff;
  border-color: #00a1ff;
}
.date-field.sp-254 {
  padding: 8px 12px;
  height: 40px;
  line-height: 22px;
  border-radius: 3px 0 0 3px;
}
.date-field.h-38 {
  padding: 8px 12px;
  height: 38px;
  line-height: 22px;
  border-radius: 4px;
}

.sb-select-box {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  position: relative;
  background: #fff;
  border: 1px solid #fff;
  display: block;
  width: 100%;
}
.sb-select-box.first {
  border-bottom-color: #d8d8d8;
  border-radius: 3px 3px 0 0;
}
.sb-select-box.third {
  border-top-color: #d8d8d8;
  border-radius: 0 0 3px 3px;
}
.sb-select-box.sp-254 {
  border-left-color: #d8d8d8;
  border-radius: 0 4px 4px 0;
}
.sb-select-box.sp-254 .sb-select {
  padding: 10px 32px 10px 12px;
  height: 38px;
  line-height: 20px;
  border-radius: 0;
}
.sb-select-box.h-38 {
  border-radius: 4px;
}
.sb-select-box.h-38 .sb-select {
  padding: 8px 32px 8px 12px;
  height: 36px;
  line-height: 22px;
  border-radius: 4px;
}
.sb-select-box.rounded {
  border-radius: 3px;
}
.sb-select-box.error {
  border-color: #e70000;
}
.sb-select-box.error .sb-select {
  background: #fef0f0;
}
.sb-select-box.time-select:after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #fff url("../vectors/common/arrows-v2.svg") no-repeat 0 0;
  background-size: 12px 72px;
  z-index: 1;
}
.sb-select-box.time-select.error .fake-time {
  background: #fef0f0;
}
.sb-select-box.time-select.error:after {
  background-color: #fef0f0;
}
.sb-select-box.loading {
  position: relative;
}
.sb-select-box.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff url(/assets/mobile/img/svg/loader-grey.svg) no-repeat center
    center;
  border-color: #fff;
}

.sb-select-box.sp-254 .sb-select {
  padding: 10px 32px 10px 12px;
  height: 38px;
  line-height: 20px;
  border-radius: 0;
}

.sb-select-box {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  position: relative;
  background: #fff;
  border: 1px solid #fff;
  display: block;
  width: 100%;
}
.sb-select-box.first {
  border-bottom-color: #d8d8d8;
  border-radius: 3px 3px 0 0;
}
.sb-select-box.third {
  border-top-color: #d8d8d8;
  border-radius: 0 0 3px 3px;
}
.sb-select-box.sp-254 {
  border-left-color: #d8d8d8;
  border-radius: 0 4px 4px 0;
}
.sb-select-box.sp-254 .sb-select {
  padding: 10px 32px 10px 12px;
  height: 38px;
  line-height: 20px;
  border-radius: 0;
}
.sb-select-box.h-38 {
  border-radius: 4px;
}
.sb-select-box.h-38 .sb-select {
  padding: 8px 32px 8px 12px;
  height: 36px;
  line-height: 22px;
  border-radius: 4px;
}
.sb-select-box.rounded {
  border-radius: 3px;
}
.sb-select-box.error {
  border-color: #e70000;
}
.sb-select-box.error .sb-select {
  background: #fef0f0;
}
.sb-select-box.time-select:after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #fff url("../vectors/common/arrow-dropdown.svg") no-repeat 0 0;
  background-size: 12px;
  z-index: 1;
}
.sb-select-box.time-select.error .fake-time {
  background: #fef0f0;
}
.sb-select-box.time-select.error:after {
  background-color: #fef0f0;
}
.sb-select-box.loading {
  position: relative;
}
.sb-select-box.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff url(/assets/mobile/img/svg/loader-grey.svg) no-repeat center
    center;
  border-color: #fff;
}
.sb-select {
  background-color: #fff;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  padding: 11px 12px;
  border: none;
  outline: 0;
  color: #333;
}
.sb-select.blue {
  color: #00a1ff;
}
.sb-select.blue:disabled {
  color: #9c9c9c;
}
.sb-select.blue.selected {
  color: #333;
}
.sb-select.blue:hover {
  color: #333;
}
.sb-select.fake-time {
  border-radius: 0 0 3px 3px;
}
.sb-select.error {
  background-color: #fef0f0;
}
.sb-select:disabled {
  color: #9c9c9c;
}
.sb-select:disabled:hover {
  color: #9c9c9c;
}
.sb-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
